/* styles for HTH */

a.navbar-brand {
    position: abolute;
    margin: 0;
    top: 0;
    width: 100px;
}

.footer-padding {
    padding: 3px;
}

td, th {
    padding: 1em;
    border: gray;
    border-style: solid;
}